

.rp-item{

    margin: 8px;
    padding: 8px;
    display: block;
    background: #0003;
    border: 1px solid #000000ff;
    border-radius: 12px;
}

.right{
    width: 100%;
    height: 100%;
    display: block;
    height: 80vh;;
    
    align-items: center;
    overflow: scroll;
}
