



.profile{
    display: flex;
    padding:10px;
    background:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow:  0px 0px 5px #888;
    
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}


.profile-pic{
    background: #2226;
    border:7px  solid #1110;
    box-shadow:0px 0px 20px #555;
    border-radius: 50%;  
    width: 300px;
    height: 300px;
    overflow: hidden;
}


.bio-data{
    text-align: start;
    width: auto;
    height: auto;
    margin: 7px;
}

.bio-data > .name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5em;
}

.bio-data .info {
    text-align: start;
}