



.navbar{
    background-color: #64646d;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    position: sticky;
    top:0;
    z-index: 20;
    border: 1px solid #0008;
    box-shadow:0px 0px 20px #0000007c ;

}


.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}



.nav-menu{
    display: flex;
    list-style-type: none;
    text-align:center;
    margin-right:2rem;

}

.nav-link{
font-variant-caps: all-petite-caps;
font-size: larger;
text-decoration: none;
padding: 0.5rem 1rem;
height: 100%;
color: #ffff;
}

.nav-item{
    line-height: 30px;
    margin-right:1rem;
    text-decoration: none;
    

}


.nav-link:hover{
    text-decoration: none;
    color: #000;
    background: #fff;
}


.active:hover{
    color:#000;
}



.nav-item .active{
    color:#fff;
    font-weight: 600;
    border: 2px solid white;
}

.nav-icon{
    display: none;
}


@media screen and (max-width:991px) {
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid #000;
        border-radius: 8px;
        position: relative;
        left:-110%;
        opacity: 1;
        transition: all .5s ease;
        top:335px;
        height: 700px;
    }

    .nav-logo.active{
        font-size: 1rem;

    }

    .nav-menu.active{
        width: 100%;
        background: #eeeeeeee;
        -moz-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        left: -20%;
        opacity: 1;
        transition: all .5s ease;
        z-index: 1;
        position: relative;
        box-shadow: 0px 0px 25px #0007;

    }
    .nav-icon{
        display: block;
        margin-right: 15px;
        color:#000;
        font-size: 1.5em;
    }
}