*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #b5fac7;
}

.pages{
    color:#316685;
    text-align: center;
}


.blank{
    height: 820px;
    width: 100%;
}